<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>NXWPHONE Demo</title>
  <script src="/lib/nxwebrtc.js">  </script>
  <script src="/lib/vue/dist/vue.global.prod.js">  </script>
</head>

<body>
  <h1>NXWPHONE Demo</h1>

  <div id="app">
    <h2>App</h2>
    <br />
    <p>Current Connection Status: {{ connectionStatus }}</p>

    <!-- login form -->
    <table>
      <tr>
        <td>Username</td>
        <td>
          <input type="text" id="nxuser" placeholder="webcall account" value="" v-model="username" />
        </td>
      </tr>
      <tr>
        <td>Password</td>
        <td>
          <input type="password" id="nxpass" placeholder="webcall password" value="" v-model="password" />
        </td>
      </tr>

      <tr>
        <td>Destination Number</td>
        <td>
          <input type="text" id="number" placeholder="4444" value="" v-model="phoneNumber" />
        </td>
      </tr>

      <tr>
        <td>Example OrderId</td>
        <td>
          <input type="text" id="orderId" placeholder="oid-1234" value="" v-model="orderId" /> [custom info for this call]
        </td>
      </tr>
    </table>

    <button id="connect" @click="connect" :disabled="connectionStatus == 'connected'">Connect</button>
    <button id="disconnect" @click="disconnect" :disabled="connectionStatus == 'disconnected'">Disconnect</button>
    <br />
    <button id="call" @click="call" :disabled="connectionStatus == 'disconnected'">Call</button>
    <button id="answer" @click="answer" :disabled="connectionStatus == 'disconnected'">Answer</button>
    <button id="hangup" @click="hangup" :disabled="connectionStatus == 'disconnected'">Hangup</button>
    <br />
    <p style="color: red;">{{errorMessages}}</p>
    <textarea style="width: 600px; min-height: 300px;" v-model="logs"></textarea>
  </div>

  <audio style="display: none" id="remoteAudio" controls> </audio>
  <audio style="display: none" id="playAudio" controls> </audio>

  <script>
    let NxwCall = NXW.default;
    let nxwcall = null;
    let currentUser = null;

    function initApp() {
      let profile = {
        nxuser: NXW.getInput("nxuser").value, nxpass: NXW.getInput("nxpass").value,
        logLevel: "error", retries: 0, playTone: 0xFF, nxtype: 6,
        audioElementId: "remoteAudio", playElementId: "playAudio"
      };
      console.log("profile=", profile, "nxwcall=", nxwcall)

      //restart nxwcall when nxuser changed
      if (currentUser != profile.nxuser) {
        if (nxwcall) {
          console.log("change profile=", profile)
          nxwcall.disconnect();
          delete nxwcall;
          nxwcall = null;
        }
        currentUser = profile.nxuser;
      }
      //create object
      if (nxwcall == null) {
        nxwcall = new NxwCall(profile)
        setupEvents(nxwcall);
        console.log("initApp done nxuser=" + profile.nxuser)
      }
    }


    //using list for saving events
    let list = [];

    function setupEvents(nxwcall) {
      if (nxwcall == null) {
        console.log("skip setupEvents")
        return;
      }

      let e = nxwcall.myEvents;
      console.log("setupEvents e=", e)

      e.on("onCallCreated", function (param1) {
        console.log("================", "onCallCreated", param1)
        list.push({ ts: new Date(), key: "onCallCreated", value: param1 })
      });
      e.on("onCallAnswered", function (param1) {
        console.log("================", "onCallAnswered", param1)
        list.push({ ts: new Date(), key: "onCallAnswered", value: param1 })
      });
      e.on("onCallReceived", function (param1) {
        console.log("================", "onCallReceived", param1)
        console.log("orderIdComing=" + nxwcall.comingOrderId);
        list.push({ ts: new Date(), key: "onCallReceived", value: param1 })
      });
      e.on("onCallHangup", function (param1) {
        console.log("================", "onCallHangup", param1)
        list.push({ ts: new Date(), key: "onCallHangup", value: param1 })
      });
      e.on("onRegistered", function (param1) {
        console.log("================", "onRegistered", param1)
        list.push({ ts: new Date(), key: "onRegistered", value: param1 })
      });
      e.on("onServerConnect", function (param1) {
        console.log("================", "onServerConnect", param1)
        list.push({ ts: new Date(), key: "onServerConnect", value: param1 })
      });
      e.on("onConnectOK", function (param1) {
        console.log("================", "onConnectOK", param1)
        list.push({ ts: new Date(), key: "onConnectOK", value: param1 })
      });
      e.on("onRegisterOK", function (param1) {
        console.log("================", "onRegisterOK", param1)
        list.push({ ts: new Date(), key: "onRegisterOK", value: param1 })
      });

      e.on("error", function (param1) {
        console.log("================", "error", param1)
        list.push({ ts: new Date(), key: "error", value: param1 })
      });
    }


    // Add click listener to call button
    // console.log("button=", NXW.getButton('connect'))
    // NXW.getButton('connect').addEventListener("click", () => {
    //   console.log("click call Button nxwcall=", nxwcall)
    //   initApp();
    // });

    // NXW.getButton('call').addEventListener("click", () => {
    //   if (nxwcall) {
    //     //get the target number
    //     let target = NXW.getInput("number").value;
    //     console.log("ready call target ", target);
    //     //put the custom orderId
    //     nxwcall.myOrderId = NXW.getInput("orderId").value;
    //     //make outgoing call
    //     nxwcall.placeCall(target);
    //   }
    // });

    // NXW.getButton('hangup').addEventListener("click", () => {
    //   if (nxwcall != null) {
    //     console.log("hangup call");
    //     nxwcall.hangupCall()
    //   }
    // });

    // NXW.getButton('answer').addEventListener("click", () => {
    //   if (nxwcall != null) {
    //     //optional: get orderid from incoming call and return back
    //     //nxwcall.myOrderId = nxwcall.comingOrderId;
    //     console.log("answer call");
    //     nxwcall.answerCall();
    //   }
    // });



    function initConnection(username, password) {
      let profile = {
        nxuser: username,
        nxpass: password,
        logLevel: "error",
        retries: 0,
        playTone: 0xFF,
        nxtype: 6,
        audioElementId: "remoteAudio",
        playElementId: "playAudio",
      };
      console.log("profile=", profile, "nxwcall=", nxwcall)
      //restart nxwcall when nxuser changed
      if (currentUser != profile.nxuser) {
        if (nxwcall) {
          removeConnection()
          console.log("change profile=", profile)

        }
        currentUser = profile.nxuser;
      }
      //create object (initialize connection)
      if (nxwcall == null) {
        nxwcall = new NxwCall(profile)
        setupEvents(nxwcall);
        console.log("initApp done nxuser=" + profile.nxuser)
      }
    }

    function removeConnection() {
      if (nxwcall) {
        console.log("diconnected profile=", nxwcall.nxuser)
        nxwcall.disconnect();
        delete nxwcall;
        nxwcall = null;
      }
    }

    /*******
     * Vue *
     *******/
    const STATUS_DISCONNECTED = 'disconnected'
    const STATUS_CONNECTED = 'connected'
    let app = Vue.createApp({
      data() {
        return {
          connectionStatus: STATUS_DISCONNECTED,
          username: '',
          password: '',
          phoneNumber: '',
          errorMessages: '',
          orderId: '',
          logs: '',
        }
      },
      methods: {
        answer(event) {
          if (nxwcall) {
            nxwcall.answerCall()
          }
          this.addLogs('Answered call: ', phoneNumber)
        },
        call(event) {
          this.errorMessages = ''

          let phoneNumber = this.phoneNumber
          if (phoneNumber == '') {
            console.log('Please insert phone number')
            this.errorMessages = 'Please insert phone number'
          }

          if (this.orderId) {
            nxwcall.myOrderId = this.orderId
          } else {
            nxwcall.myOrderId = null
          }

          if (!nxwcall) {
            this.errorMessages = 'Unable to make phone call as connection to nxcloud is not established'
          }

          console.log('Calling phone number: ', phoneNumber)
          nxwcall.placeCall(phoneNumber)
          this.addLogs('Calling phone number: ', phoneNumber)
        },
        hangup(event) {
          if (nxwcall) {
            nxwcall.hangupCall()
          }
          this.addLogs('Hangup call')
        },
        connect(event) {
          let username = this.username
          let password = this.password
          if (this.username == '' || this.password == '') {
            console.log('Please insert username and password')
            this.errorMessages = 'Please insert username and password'
            return;
          }

          initConnection(this.username, this.password)
          this.connectionStatus = STATUS_CONNECTED
          this.addLogs('Connected to NXCloud')
        },
        disconnect(event) {
          removeConnection()
          this.connectionStatus = STATUS_DISCONNECTED
          this.addLogs('Disconnected from NXCloud')
        },

        // non-call related functions
        addLogs(message) {
          let timestamp = (new Date()).toISOString()
          this.logs =  `[${timestamp}] ${message}\n` + this.logs
        }
      }
    }).mount('#app')

  </script>
</body>

</html>
